@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  padding: 3rem 2rem 2rem 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button.primary {
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 4px !important;
  border: 1px solid #3f99ff;
  background-color: transparent;
  color: var(--primary-main, #3f99ff);
  transition: background-color 0.1s linear;
}

button.primary:hover {
  background-color: #3f99ff;
  color: white;
}

.loader-view {
  border: 16px solid #9595959d;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 16px; 
  height: 16px; 
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}